body{
    background-color: bisque;
}

.grid{
    width: 1280px;
    height: 720px;
    background-color: coral;
    padding: 10px 50px 50px 40px;
    border: 1px lightcoral;
}

.grid h1{
    font-family: Arial;
    background-color: lavenderblush;
    font-size: 60px;
    text-align: center;
    color: coral;
}

.grid #question{
    font-family: Arial;
    font-size: 30px;
    color: lavenderblush;
    text-align: center;
}

.buttons{
    margin-top: 30px;
}

#button0,#button1,#button2,#button3 {
    background-color: lavenderblush;
    width: 250px;
    font-size: 20px;
    color: coral;
    margin:10px 20px 20px 500px;
    padding:15px 15px;
}

#progress{
    font-family: Arial;
    color: lavenderblush;
    font-size: 18px;
    text-align: center;
}

#button0:hover,#button1:hover,#button2:hover,#button3:hover {
    cursor: pointer;
    background-color: lightgrey;
}
